<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>getbooktitle</title>
    </head>
    <body>
        <div>
            <h2>Title</h2>
            <p>{{title}}</p>
        </div>


        <div>
            <form method="GET" action="/getreview">
                <button type="submit">Find Review</button>
            </form>
        </div>


    </body>
</html>